<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href={{url_for('static' , filename = 'css/normalize.css')}}>
        <link rel="stylesheet" href={{url_for('static' , filename = 'css/grid.css')}}>
        <link rel='stylesheet' href={{url_for('static' , filename = 'css/style.css')}}>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet" type='text/css'>
        <title>Predictor of arrest chance on the highway</title>
        <meta name="keywords" content="cutom file input, styling, label, cross-browser, accessible, input type file" />
		
		<style>
			.content {
			  max-width: 500px;
			  margin: auto;
			  }
			.bg-img{
				width: 100%;
				height: 100vh;
				background-image:linear-gradient(rgba(0, 0, 0, 0.71),rgba(0, 0, 0, 0.7)),url('static/css/front.jpg');
				background-size: cover;
				background-position: center;
			}
			
		</style>


    </head>
	
    <body>
	<div class="bg-img">
	<div class="content">
        <div class = "index-main">

        <div style = "width : 100%; padding-top : 5%;">
            <div class = "header-content">
                 <h1 style = "text-align: center;color: white"><span class="header-content-text">Predictor of arrest chance on the highway</span></h1>
            </div>
        </div>

        <div class="upload-section">

            <div  class="upload-file" >
                <form style="display:flex; flex-flow: column nowrap;"  class = "file-form" action="/" method="post", enctype="multipart/form-data">
                    
                    <div class="form-group mt-2">
                        <label for="x1">Stop Time</label>
                        <input type="time" name="x1" />
                    </div>

                    <div class="form-group mt-2" >
                        <label for="x2">Driver Age</label>
                        <input type="number" name="x2" />
                    </div>

                    <div class="form-group mt-2" >
                        <label for="x3">Driver Gender</label>
                        <!-- <input type="text" name="x3" /> -->
                        <select name="x3" >
                            <option value="0">M</option>
                            <option value="1">F</option>
                        </select>
                    </div>

                    <div class="form-group mt-2" >
                        <label for="x4">Driver Race</label>
                        <select name="x4" >
                            <option value="0">White</option>
                            <option value="1">Black</option>
                            <option value="2">Asian</option>
                            <option value="3">Hispanic</option>
                            <option value="4">Other</option>
                        </select>
                    </div>

                    <div class="form-group mt-2">
                        <label for="x5">Violation</label>
                        <select name='x5'>
                        <option value="0">Speeding</option>
                        <option value="2">Equipment</option>
                        <option value="3">Moving violation</option>
                        <option value="4">Registration/plates</option>
                        <option value="1">Other</option>

                        </select>
                    </div>

                    <div class="form-group mt-2" >
                        <label for="x6">Search Conducted</label>
                        <select name="x6">
                            <option value="1">True</option>
                            <option value="0">False</option>
                        </select>
                    </div>

                    <div class="form-group mt-2" >
                        <label for="x7">Drugs Related</label>
                        <select name="x7">
                            <option value="1">True</option>
                            <option value="0">False</option>
                        </select>
                    </div>

                    <button class="btn btn-success btn-block">Take my chances</button>
                </form>
            </div>
            
            <div class = "header-content-sub">
                {% if y: %}
                    <p style = "text-align: center; margin-top: 15px;color: greenyellow" class="header-content-info">{{y}}</p>
                {% endif %}    
            </div>
        </div>
        </div>
	     </div>  
	</div>			 
	</div>	 
    </body>
</html>